.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 16px 0;
    width: 80%;
}

.input-info {
    flex: 1;
    &-lable {
        font-size: 2rem;
    }
    &-description {
        font-size: 1.4rem;
        color: var(--text-color);
    }
}

.input-box {
    flex: 1;
    height: 100%;
    padding-left: 15px;
    border-radius: 10px;
    color: white;
    background-color: var(--second-color);
    &::placeholder {
        color: var(--text-color);
    }
}

.flex {
    display: block;
    height: fit-content;
    .input-box {
        width: 100%;
        height: 50px;
        margin: 8px 0;
    }
}
