.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 10px;
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.wrapper + .wrapper {
    margin-right: 8px;
}

// Icon
.icon {
    font-size: 2rem;
}
.icon + .content,
.content + .icon {
    margin-left: 8px;
}

// Type
.text {
    background-color: transparent;
    &:hover {
        background-color: var(--second-color);
    }
}
