.logger {
    &-wrapper {
        width: 200px;
        padding: 10px;
        background-color: var(--third-color);
    }
}

// Slot
.slot {
    &-item {
        margin: 8px 0;
    }
}

// Nav
.nav {
    &-list {
        list-style-type: none;
    }
    &-item {
        margin: 8px 0;
    }
}
