//Reset CSS
@import 'normalize.css';

//Fontawesome
@import '../../assets/vendors/fonts/css/all.min.css';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

//Variables
:root {
    // Color
    --main-color: #e50914;
    --second-color: #95999f;
    --third-color: #0b0b0b;
    --four-color: #ffffff;
    --fif-color: rgb(26, 26, 26);
    // Size
    --padding-spacing: 60px;
    --session-header-h: 80px;
    --movie-item-spacing: 10px;
    --movie-item-h: 145px;
    --movie-item-w: 250px;
}

//Configs
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-y: overlay;
    background-color: var(--third-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

//Mixing

//Animations
