.default {
    &-wrapper {
        position: static;
        margin: 16px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
        height: var(--movie-item-h);
        overflow: visible;
    }
}
