.wrapper {
    margin-top: var(--header-session-h);
    padding: 1% var(--content-sesson-padding);
}
.flex-layout {
    display: flex;
    height: 300px;
    &-aside {
        width: fit-content;
    }
    &-main {
        width: fit-content;
    }
}
