.movie {
    &-wrapper {
        display: block;
        overflow-x: hidden;
    }
    &-slider {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
        margin: 16px 0;
    }
}
