:root {
    --item-padding: 10px;
    --item-actions-btn: 40px;
}
.default {
    &-wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transition: all ease-in-out 0.3s;
    }
    &-brand {
        position: absolute;
        top: var(--item-padding);
        left: var(--item-padding);
        z-index: 1;
        width: 12px;
    }
    &-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: linear-gradient(
            to top,
            rgba($color: #000000, $alpha: 0.5),
            rgba($color: #000000, $alpha: 0)
        );
    }
    &-thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-hovering {
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
    }
}

//Hover : Effect
.default-wrapper:hover {
    .default {
        &-container {
            position: absolute;
            z-index: 10;
            width: 112%;
            height: fit-content;
            background-color: var(--six-color);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px var(--six-color);
        }
        &-filter,
        &-thumb {
            display: none;
        }
        &-hovering {
            display: block;
            width: 100%;
            height: 100%;
            overflow: unset;
        }
    }
}

// Hovering
.hovering {
    &-trailer {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    &-movie {
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        padding: 20px 10px;
    }
}

// Trailer
.trailer {
    &-videos {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-sub {
        position: absolute;
        left: var(--item-padding);
        bottom: var(--item-padding);
        display: block;
        max-height: 60%;
        max-width: 50%;
    }
    &-tag {
        width: 35%;
    }
    &-name {
        width: 100%;
    }
}

// Movie
.movie {
    &-description {
        font-size: 13px;
        color: var(--second-color);
    }
    &-more {
        margin: 8px 0;
        display: flex;
        align-items: center;
    }
    &-tag {
        padding: 2px 5px;
        margin-right: 8px;
        font-size: 13px;
        color: white;
        background-color: red;
    }
    &-gender {
        font-size: 14px;
    }
    &-public,
    &-lenght {
        font-size: 14px;
        margin-right: 8px;
    }
    &-sub {
        padding: 1px 5px;
        margin-right: 8px;
        font-size: 14px;
        border: 1px solid var(--second-color);
    }
}

// Actions
.actions {
    &-list {
        position: relative;
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    &-item {
        margin-right: 8px;
        &:first-child {
            .actions-btn {
                background-color: white;
                i {
                    color: var(--six-color);
                }
            }
        }
        &:last-child {
            position: absolute;
            right: 0;
        }
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--item-actions-btn);
        height: var(--item-actions-btn);
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid var(--second-color);
        cursor: pointer;
        i {
            font-size: 16px;
            color: white;
        }
    }
}
