.item {
    &-wrapper {
        position: relative;
        display: block;
        height: var(--movie-item-h);
        width: 100%;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }
}
