.notify {
    display: block;
    width: 400px;
    padding: 15px 0;
    background-color: var(--bg-color);
    &-title {
        margin-bottom: 8px;
        text-align: center;
        font-size: 1.8rem;
        color: white;
    }
    &-list {
        display: block;
        max-height: 80vh;
        overflow-y: auto;
    }
}
.notify-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    &-info {
        flex: 1;
    }
    &-avt {
        display: block;
        margin-left: 8px;
        width: 100px;
        height: 60px;
        object-fit: cover;
    }
}
.info-name {
    color: white;
}
.info-times {
    font-size: 1.3rem;
}
