.auth-form {
    position: relative;
    height: calc(100vh - var(--header-session-h));
    margin-top: var(--header-session-h);
    padding: 2% 0;
    &-main {
        display: block;
        width: fit-content;
        margin: 32px auto;
        text-align: center;
        color: white;
    }
    &-footer {
        position: absolute;
        bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 var(--content-sesson-padding);
    }
}

.signin {
    &-title {
        font-size: 3.5rem;
        span {
            color: var(--main-color);
        }
    }
    &-description {
        width: 80%;
        margin: 8px auto;
        font-size: 1.8rem;
        color: var(--text-color);
    }
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-forgot {
        margin: 32px 0;
        color: white;
        background-color: transparent;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.signin-box {
    &-menthods > button {
        display: block;
        width: 300px;
        height: 50px;
        margin: 8px 0;
        padding-left: 15px;
        color: white;
        text-align: left;
        background-color: var(--second-color);
        &:last-child {
            color: var(--second-color);
            background-color: var(--main-color);
        }
        i {
            font-size: 1.7rem;
            margin-right: 8px;
        }
    }
    &-line {
        margin: 0 32px;
    }
}

.signin-box-form {
    display: block;
    input {
        display: block;
        width: 300px;
        height: 50px;
        margin-bottom: 8px;
        padding-left: 15px;
        color: white;
        background-color: var(--second-color);
    }
    button {
        width: 300px;
        height: 50px;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        background-color: transparent;
        cursor: pointer;
    }
}
