:root {
    --btn-w: 300px;
    --btn-h: 55px;
}
.auth {
    &-wrapper {
    }
    &-title {
        font-size: 40px;
        text-align: center;
        color: white;
    }
    &-description {
        width: 33%;
        margin: 8px auto;
        font-size: 17px;
        text-align: center;
        color: var(--second-color);
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px auto;
        width: fit-content;
    }
    &-forgot {
        display: block;
        width: 100%;
        margin: 32px auto;
        text-align: center;
        font-size: 16px;
        color: white;
        text-decoration: underline;
    }
}

// Container
.container {
    &-side,
    &-main {
        width: fit-content;
    }
    &-middle {
        margin: 0 64px;
        font-size: 20px;
        color: var(--second-color);
    }
}

//Actions
.actions {
    &-list {
        list-style-type: none;
    }
    &-item {
        margin: 8px 0;
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        width: var(--btn-w);
        height: var(--btn-h);
        color: var(--second-color);
        background-color: var(--six-color);
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        i {
            font-size: 15px;
        }
        &:hover {
            color: white;
            background-color: var(--main-color);
        }
    }
}

//Menthod
.menthod {
    &-list {
        list-style-type: none;
    }
    &-item {
        margin: 8px 0;
    }
    &-btn {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: var(--btn-w);
        height: var(--btn-h);
        color: white;
        background-color: transparent;
        border: 1px solid var(--six-color);
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        i {
            font-size: 15px;
            margin-right: 16px;
        }
        &:hover {
            color: white;
        }
    }
}
