.notify {
    &-wrapper {
        max-width: 350px;
        padding: 10px;
        background-color: var(--third-color);
    }
    &-title {
        padding: 10px 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--four-color);
        text-align: center;
        border-bottom: 0.5px solid var(--second-color);
    }
    &-list {
        margin: 8px 0;
        max-height: 60vh;
        overflow-y: auto;
        list-style-type: none;
    }
    &-item {
        margin: 8px 0;
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 5px;
        &:hover {
            background-color: var(--fif-color);
        }
    }
    &-thumb {
        margin: 0 16px;
        height: 55px;
        width: 85px;
        border-radius: 5px;
    }
}

// Content notify
.content {
    &-title {
        font-size: 14px;
        font-weight: 500;
        color: var(--four-color);
    }
    &-public {
        margin: 4px 0;
        font-size: 13px;
        color: var(--second-color);
    }
}
