.profile-nav {
    width: 250px;
    &-title {
        font-size: 2.5rem;
        color: white;
    }
    &-list {
        display: block;
        margin: 16px 0;
    }
    &-item {
        display: block;
        height: 45px;
        width: 100%;
        color: var(--text-color);
        text-align: left;
        font-size: 1.6rem;
        background-color: transparent;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:last-child {
            border-top: 1px solid var(--text-color);
        }
        &:hover {
            color: var(--main-color);
        }
    }
}
