.movies {
    margin: 32px 0;
    &-header {
        display: flex;
        padding: 0 var(--content-sesson-padding);
        align-items: center;
        justify-content: space-between;
    }
}

// Header
.header-title {
    display: flex;
    align-items: center;
    &-content {
        color: white;
        font-size: 1.9rem;
        margin-right: 8px;
    }
    &-movie {
        color: var(--text-color);
    }
}
.header-link {
    color: var(--text-color);
    transition: all ease-in-out 0.3s;
    span {
        margin-right: 8px;
    }
    &:hover {
        color: white;
    }
}
.header-actions {
    display: flex;
    width: 50%;
    margin: 0 auto;
    button {
        padding: 5px;
        margin-right: 8px;
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
            color: white;
        }
    }
}

// List
.movies-list {
    padding-left: var(--content-sesson-padding);
    margin: 16px 0;
    overflow: hidden;
}

@keyframes nextSlider {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes prevSlider {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.movies-slider {
    display: flex;
    align-items: center;
    width: max-content;
}
.next {
    .movie-item {
        animation: nextSlider 1 1s forwards;
    }
}
.prev {
    .movie-item {
        animation: prevSlider 1 1s forwards;
    }
}

// Type item
.movie-item {
    width: 270px;
    height: 170px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    &:hover {
        //Chưa nghĩ ra
    }
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
    }
    &-tag {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        padding: 5px;
        color: white;
        font-size: 1.2rem;
        border-radius: 10px;
        background: rgba($color: #fff, $alpha: 0.2);
    }
    &-info {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.3);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}
.info-play-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba($color: white, $alpha: 0.5);
    color: white;
}
.info-movie {
    flex: 1;
    margin: 0 8px;
    font-size: 1.4rem;
    &-name {
        color: white;
    }
    &-public {
        font-size: 1.3rem;
        color: rgba($color: white, $alpha: 0.3);
    }
}
.info-movie-timer {
    padding: 5px 10px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 15px;
}
.info-movie-vote {
    display: flex;
    align-items: center;
    color: white;
    i {
        font-size: 1.2rem;
        margin-right: 4px;
    }
}
.continueItem {
    width: 320px;
    height: 200px;
}
