.header {
    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 0 var(--padding-spacing);
        height: var(--session-header-h);
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
    &-content {
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.content {
    &-logo {
        width: 100px;
    }
    &-nav {
        flex: 1;
        margin: 0 16px;
    }
    &-actions {
        width: fit-content;
    }
}

// Navbar
.nav {
    &-list {
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    &-item {
        margin: 0 8px;
    }
    &-link {
        font-size: 14px;
        color: var(--four-color);
        &:hover {
            color: var(--second-color);
        }
    }
}

// Actions
.actions {
    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-item {
        margin: 0 32px;
        cursor: pointer;
    }
    &-link {
        color: var(--four-color);
    }
}

// Logger
.logger {
    &-lable {
        display: flex;
        align-items: center;
        margin-left: 32px;
        cursor: pointer;
        &:hover {
            .logger-icon {
                transform: rotate(180deg);
            }
        }
    }
    &-avt {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    &-icon {
        transition: 0.5s;
        i {
            font-size: 14px;
        }
    }
}
.icon-menu {
    display: none;
}
.icon-close {
    display: none;
}
// reponsive styles
$mobile: 480px;
@media (max-width: $mobile) {
    .header {
        &-wrapper {
            padding: 0 12px;
            height: 52px;
        }
    }

    .content {
        &-logo {
            width: 60px;
            margin-left: 8px;
            margin-top: 2px;
        }
    }

    .nav {
        &-list {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 200px;
            align-items: flex-start;
            width: 240px;
            align-items: start;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            background-color: #000000;
            padding-top: 24px;
            animation: slideIn;
            animation-duration: 1s;
        }
        &-item {
            margin-top: 12px;
            margin-left: 24px;
        }
    }
    .icon {
        &-menu {
            display: block;
            color: var(--four-color);
            cursor: pointer;
        }
        &-close {
            position: absolute;
            top: 12px;
            right: 12%;
            color: #fff;
            z-index: 1;
            cursor: pointer;
            display: block;
        }
    }

    .module {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: none;
    }
    .block {
        display: block !important;
    }
    @keyframes slideIn {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
