.search-result {
    margin: 16px 0;
    padding: 0 var(--content-sesson-padding);
    &-title {
        font-size: 1.8rem;
        color: white;
    }
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    &-item {
        padding: 8px 10px;
        margin-right: 8px;
        margin-bottom: 8px;
        font-size: 1.5rem;
        color: white;
        background-color: var(--second-color);
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: var(--main-color);
        }
    }
}
