.banner {
    &-wrapper {
        height: 80vh;
        overflow: hidden;
        position: relative;
    }
    &-thumb {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-filter {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to top,
            rgba($color: #0b0b0b, $alpha: 1),
            rgba($color: #000000, $alpha: 0)
        );
    }
    &-info {
        position: absolute;
        bottom: var(--padding-spacing);
        left: var(--padding-spacing);
        z-index: 2;
        width: 30%;
        color: white;
    }
}

// Info
.info {
    &-name {
        font-size: 80px;
        color: white;
    }
    &-description {
        font-size: 15px;
        margin: 8px 0;
    }
    &-more {
        display: flex;
        align-items: center;
        margin: 8px 0;
    }
    &-tag {
        padding: 5px 10px;
        margin-right: 8px;
        font-size: 14px;
        background-color: var(--main-color);
    }
    &-middle {
        margin: 0 8px;
        i {
            transform: translateY(-50%);
            font-size: 5px;
        }
    }
    &-publics {
        padding: 5px 10px;
        margin-right: 8px;
    }
    &-mark {
        display: flex;
    }
}

//Mark
.mark {
    &-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid white;
        i {
            font-size: 16px;
            color: var(--main-color);
        }
    }
    &-movie {
        margin: 0 8px;
        font-size: 25px;
        font-weight: bold;
        color: var(--main-color);
    }
}
// reponsive styles
$mobile: 480px;
@media (max-width: $mobile) {
    .banner {
        &-wrapper {
            height: 224px;
        }

        &-info {
            width: 100%;
            top: 96px;
            left: 24px;
        }
    }
    .info {
        &-name {
            font-size: 24px;
        }
        &-description {
            width: 80%;
            font-size: 8px;
            margin: 2px 0;
        }
        &-more {
            margin: 0;
        }
        &-tag {
            padding: 2px 5px;
            margin-right: 4px;
            font-size: 8px;
        }
        &-publics {
            padding: 2px 5px;
            margin-right: 4px;
        }
        &-mark {
            display: none;
        }
    }
}
