.banner {
    &-wrapper {
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    &-thumb {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-content {
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 1;
        width: 50%;
        padding: var(--padding-spacing);
    }
}

// Content
.content {
    &-name {
        width: 80%;
        margin: 0 auto;
    }
    &-tag {
        display: flex;
        align-items: center;
        margin: 8px 0;
    }
    &-description {
        color: white;
    }
}

// Tag
.tag {
    &-icon {
        margin-right: 8px;
        width: 35px;
        line-height: 20px;
        text-align: center;
        font-weight: bold;
        color: var(--four-color);
        background-color: var(--main-color);
        border-radius: 5px 10px;
    }
    &-num {
        font-size: 22px;
    }
    &-title {
        color: var(--four-color);
        font-size: 22px;
    }
}
